<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Butcherman|Nosifer" rel="stylesheet">
    <title>Chilling Goblin</title>
</head>
<body>
    <header class="container pageheader">
        <div class="row">
            <div class="col-xs-12 col-md-6 headingimg">
            <img src="https://d1u5p3l4wpay3k.cloudfront.net/pubg_esports_gamepedia_en/thumb/e/ea/Loot_Goblinslogo_square.png/300px-Loot_Goblinslogo_square.png?version=3f6a17d1f0efe94ebf6cd0894cb4fd7e"></img>
            </div>
            <div class="col-xs-12 col-md-6 headingheader">
            <h1>Chilling Goblin</h1>
            </div>
        </div>
    </header>
    <hr>
        <div class="container section1">
            <div class="row">
                <div class="col-md-4 col-xs-12 maincol">
                    <h2>Welcome</h2>
                    <p>Here at chilling goblin we are all about you, our fellow Goblins. We show you where to go to find chill items.</p>
                </div>
                <div class="col-md-4 col-xs-12 maincol">
                    <h2>How does it work?</h2>
                    <p>Easy we place links to webpages and webshops we have found on the internet. We tell you why we like them, then you can click them and get the items.</p>
                </div>
                <div class="col-md-4 col-xs-12 maincol">
                    <h2>Tell others</h2>
                    <p>Offcourse you are going to like the links and you will tell other Goblins. In this way we get a thriving Goblin community</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="text-center">Get chilled with ...</h2>
            <div class="row">
                <div class="card col-xs-12 col-md-3" style="width: 18rem;">
                    <h3 class="text-center">Fatboy Cushions</h3>
                	<img class="card-img-top" src="https://res.cloudinary.com/clippings/image/upload/t_big/f_auto/v1/products/junior-bean-bag-grass-green-fatboy-jukka-setala-clippings-1487371.jpg" alt="Card image cap">
                	<div class="card-body">
                		<ul class="list-inline row justify-content-center">
                			<li class="list-inline-item">
                				<a class="tags" href="https://clippings.com/products/junior-bean-bag-201841?variation=841561">Clippings</a>
                			</li>
                		</ul>
                	</div>
                </div>
                <div class="card col-xs-12 col-md-3" style="width: 18rem;">
                    <h3 class="text-center">Bongs</h3>
                	<img class="card-img-top" src="https://cdn.shopify.com/s/files/1/1520/1516/products/BC_2955_large.jpg?v=1520253143" alt="Card image cap">
                	<div class="card-body">
                		<ul class="list-inline row justify-content-center">
                			<li class="list-inline-item">
                				<a class="tags" href="https://www.everyonedoesit.co.uk/products/ceramic-reaper-bong-sitting-down">Everyonedoesit</a>
                			</li>
                		</ul>
                	</div>
                </div>
                <div class="card col-xs-12 col-md-3" style="width: 18rem;">
                    <h3 class="text-center">Lights</h3>
                	<img class="card-img-top" src="https://dd5h0mlekaknd.cloudfront.net/imgs/products/uk/740x740_crop/LL-03G~Green-LED-Battery-Fairy-Light_P1.jpg" alt="Card image cap">
                	<div class="card-body">
                		<ul class="list-inline row justify-content-center">
                			<li class="list-inline-item">
                				<a class="tags" href="https://www.lights4fun.co.uk/i/q/LL-03G/10-led-green-battery-powered-indoor-fairy-lights">Light fun</a>
                			</li>
                		</ul>
                	</div>
                </div>
                <div class="card col-xs-12 col-md-3" style="width: 18rem;">
                    <h3 class="text-center">Halloween</h3>
                	<img class="card-img-top" src="http://thesugargoblin.com//assets/images/home-book.jpg" alt="Card image cap">
                	<div class="card-body">
                		<ul class="list-inline row justify-content-center">
                			<li class="list-inline-item">
                				<a class="tags" href="http://thesugargoblin.com/">The Sugar Goblin</a>
                			</li>
                		</ul>
                	</div>
                </div>
            </div>
        </div>
        <hr>
    <div class="container">
        <h4 class="text-center">Who are we?</h4>
        <div class="row text-center">
            <div class="col-6 ">
                <h4>Goblin Miro</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN-b7w9c3f2El16tY3H6d21EFEMw_1Me7PhvVqopU35oexfEOk" class="profilepic"></img>
                <p>Miro is our lead developer here at Chilling Goblin. He makes sure that everything works on the site and you get the
                best functionality. Together with Goblin Jeroen he finds the awesome items.</p>
            </div>
            <div class="col-6">
                <h4>Goblin Jeroen</h4>
                <img src="https://1.bp.blogspot.com/-rNdcQv5G7x4/V70IzS66mGI/AAAAAAAADX8/GXirBpX7tIMoYQNFu75Ajf6l9IXsNwTgQCLcB/s1600/goblin%2B1.jpg" class="profilepic"></img>
                <p>Jeroen does the styling of the website and makes sure it look cools. He works on the colours and layout so you get the best
                reading experience. Together they are Chilling Goblin!</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container opinion">
        <h4 class="text-center">Tells us what you think</h4>
        <p>We can't live without your opinion. Tell us if we have selected the right things for you to chill with. Maybe you have some
        thing you want to share with us so we can post them here? We will keep finding cool items so check back regularly</p>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-4 footertext">
                    <p>info@chillinggoblin.com</p>
                    <p>+44 512 777 89 666</p>
                    <p>www.chillinggoblin.com</p>
                </div>
                <div class="col-md-6 col-xs-4 footertext">
                    <p>Main Road 6</p>
                    <p>Offord</p>
                    <p>United Kingdom</p>
                </div>
            </div>
        </div>
    </footer> 
</body>
</html>